
<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

	<div fxFlex class="table-component-holder mat-elevation-z4">
		<mat-toolbar class="table-header">
			<h1 class="mat-headline center-align" >Projects</h1>
		</mat-toolbar>
		<div class="table-container">
			<mat-table #table [dataSource]="dataSource" ng-if="vm.isSelected">

				<!--- Note that these columns can be defined in any order.
					  The actual rendered columns are set as a property on the row definition" -->
			  
				<!-- ID Column -->
				<ng-container matColumnDef="id">
					<mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
					<mat-cell *matCellDef="let row"> <a  [(ngModel)]="dataTag" [routerLink]="'../areas/' + row.$key" ngDefaultControl> {{row.id}}</a></mat-cell>
				</ng-container>

				<!-- Progress Column -->
				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="client">
					<mat-header-cell *matHeaderCellDef> Client </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.client}} </mat-cell>
				</ng-container>

				<!-- Color Column -->
				<ng-container matColumnDef="siteStart">
					<mat-header-cell *matHeaderCellDef> Site Start </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.siteStart}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="postCode">
					<mat-header-cell *matHeaderCellDef> Post Code </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.postCode}} </mat-cell>
				</ng-container>
			  
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					
			</mat-table>
		</div>
	</div>
</div>
