<!-- <mat-sidenav-container class="container" fullscreen>
    <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4">
            <img src="./assets/logo.codetok.png" width="36px">
            <h1 class="logo">
                CODETOK.
                <span style="font-size: 12px;">com</span>
            </h1>
        </mat-toolbar>

        <cdk-sidemenu></cdk-sidemenu>
    </mat-sidenav>
    <mat-sidenav-content>
        <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar>
        <perfect-scrollbar>
            <router-outlet></router-outlet>
        </perfect-scrollbar>
    </mat-sidenav-content>
    <mat-sidenav #sidenav2 position="end" mode="over">
        <cdk-sidebar></cdk-sidebar>
    </mat-sidenav>
</mat-sidenav-container> -->
        
 <!-- Below is another example of the home page that has a smaller menu that shows up when the main menu is hidden -->

<mat-sidenav-container class="container" fullscreen>
    <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4">
            <img src="./assets/logo.svg" height="100%" width="100%">
        </mat-toolbar>
        <cdk-sidemenu></cdk-sidemenu>
    </mat-sidenav>
    <mat-sidenav-content style="z-index: unset;overflow: hidden;">
        <mat-drawer-container fullscreen>
            <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
                <mat-toolbar color="primary" class="mat-elevation-z4">
                    <img src="./assets/logo.codetok.png" width="36px">
                </mat-toolbar>
                <cdk-sidemenu [iconOnly]="true"></cdk-sidemenu>
            </mat-drawer>
            <mat-drawer-content style="overflow: hidden;">

                <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar>


                <perfect-scrollbar  style="height: calc(100% - 33px);" >
                    <router-outlet></router-outlet>
                </perfect-scrollbar>

           
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-sidenav-content>

    <mat-sidenav #sidenav2 position="end" mode="over">
        <cdk-sidebar></cdk-sidebar>
    </mat-sidenav>

</mat-sidenav-container>
                 
            
            
    
    









