
<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

	<div fxFlex class="table-component-holder mat-elevation-z4">
		<mat-toolbar class="table-header">
			<h1 class="mat-headline center-align" >Areas</h1>
		</mat-toolbar>
		<div class="table-container">
			<mat-table #table [dataSource]="dataSource">

				<!--- Note that these columns can be defined in any order.
					  The actual rendered columns are set as a property on the row definition" -->
			  
				<!-- ID Column -->
				<ng-container matColumnDef="phase">
					<mat-header-cell *matHeaderCellDef> Phase </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.areas.phase}} </mat-cell>
				</ng-container>

				<!-- Progress Column -->
				<ng-container matColumnDef="description">
					<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.areas.description}}% </mat-cell>
				</ng-container>
			  
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					
			</mat-table>

		</div>
	</div>
</div>
